@if (card != null)
{
    <h1>@card.Name</h1>

    @foreach (var checklist in card.CheckLists.OrderByDescending(_ => _.Name))
    {
        <Checklist Id="@checklist.Id" />
    }
}
else
{
    <span>Loading...</span>
}

@code {
    [Parameter]
    public string Id { get; set; }

    private Manatee.Trello.ICard card { get; set; }

    protected override Task OnInitializedAsync()
    {
        card = new Manatee.Trello.Card(Id);

        return card.Refresh();
    }
}