@page
@model RedLeg.Coaching.IndexModel

@foreach(var board in Model.Boards)
{
   <div>
       <h2>@board.Name</h2>
       <ul>
           @foreach(var list in board.Lists)
           {
               <li>@list.Id - @list.Name</li>
           }
       </ul>
   </div>
}
