@page
@model RedLeg.Coaching.IndexModel

@if (!Model.Cards.Any())
{
    <h2>No One-on-Ones found, contact your Mentor to configure access.</h2>
    <h4>Authenticated Email: @Model.Email</h4>
}

@foreach (var card in Model.Cards)
{
    <component type="typeof(RedLeg.Coaching.Components.Mentee)" param-Id="@card.Id" render-mode="Server" />
}