@page
@model RedLeg.Coaching.IndexModel

@if (!Model.Data.Any())
{
    <h2>No boards!</h2>
}

@foreach (var board in Model.Data)
{
    <div>
        <h2>@board.Key.Id - @board.Key.Name</h2>
        <ul>
            @foreach (var list in board.Value)
            {
                <li>@list.Id - @list.Name</li>
            }
        </ul>
    </div>
}